
@{ViewData["Title"] = "Om sidan";

}
<section>

    <h2>@ViewData["Title"] </h2>

    <p>Sidan är skapad med hjälp av Asp.net Core MVC mönstret. Det går att lägga till en produkt och ändra eller radera den. Alla filerna sparas i en lokal JSON fil </p>

</section>
